<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1" />
    <title>WQ</title>
    <link rel="stylesheet" type="text/css" href="{{static_url("css/style.css")}}">
</head>
<body>
    <header>
        {% block header %}
        {% end %}
    </header>
    <content>
        {% block body %}
        {% end %}
    </content>
    <footer>
        {% set website="<a href='http://www.wuqiangroy.cn'>Welcome to my website</a>" %}
        {% raw website %}
    </footer>
    <script src="{{static_url("js/jquery.min.js")}}"></script>
    <script src="{{static_url("js/script.js")}}"></script>
</body>
</html>